@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body,main,header,footer,div,ul,li,input,button,h4,h3,h2 {
    font-family: Roboto;
    color: white;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    list-style: none;
    font-weight: bold;
}


body {
    background-color: #149BE7;
}

footer {
    margin-top: 50px;
}

.titulo-pagina {
    text-align: end;
    margin-right: 56px;
    font-size: xxx-large;
}

.lista-btns {
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;    
}

.lista-btns-opcoes{
    width: 30%;
}

.btn-opcao {
    background-color: black;
    padding: 2% 12%;
    border-radius: 10px;
    margin: 20px 30px;
    font-size: 19px;
}
.conversor-boost {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}
.lista-input-primaria {
    width: 80%;
}

.lista-input-secundaria {
    width: 80%;
}

.div-trocar-boost {
    display: flex;
    width: 20%;
    flex-direction: column;
    align-items: center;
}
.ul-input-primaria {
    margin-left: 5%;
}

.ul-input-secundaria {
    margin-left: 5%;
}

.listas {
    margin: 11px 0px;
}

input {
    text-align: center;
    border-radius: 0px 83px;
    font-size: larger;
    padding: 1.1%;
    color:black;
}

h3 {
    margin-left: 1%;
}
h2 {
    font-size: medium;
    background-color: black;
    border-radius: 8px;
    padding: 2% 7%;
    margin-bottom: 8px;
}

.btn-trocar-boost {
    background-color: black;
    padding: 2% 6%;
    border-radius: 8px;
    font-size: unset;
}

.div-calculo {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn-calcular {
    background-color: black;
    border-radius: 20px;
    font-size: larger;
    padding: 4px 26px;
    margin-right: 2%;
}

.btn-reset {
    background:none;
}
.img-reset {
    width: 28px;
    border-radius: 30px;
    padding: 2px 10px 2px 9px;
    background-color: black;
}

.div-resultado {
    width: 30%;
    text-align: center;
}

h4 {
    font-size: 25px;
    margin-bottom: 40px;
}

.btn-change-color {
    border-radius: 6px;
    background-color: black;
    width: 3%;
    display: flex;
    justify-content: center;
    height: 30px;
    margin-left: 15px;
}

::-webkit-scrollbar {
    width: 8px;
}
  
::-webkit-scrollbar-track {
    box-shadow: white;
}
::-webkit-scrollbar-thumb {
    border-radius:12px;
    background-color: black;
}
::-webkit-scrollbar-thumb:hover {
    background-color: rgb(123, 122, 122);
} 

.btn-opcao:hover {
    background-color:rgb(255, 255, 255);
    color:black;
}
.btn-calcular:hover {
    background-color:rgb(255, 255, 255);
    color:black;
}
.btn-trocar-boost:hover {
    background-color:rgb(255, 255, 255);
    color:black;
}

.img-reset:hover {
    background-color:rgb(255, 255, 255);
}
 